<a href="https://colab.research.google.com/github/SARA3SAEED/DA-Mu/blob/main/python_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basic Exercises for Beginners

#### 1] Given a two integer numbers return their product, and  if the product is greater than 1000, then return their sum

In [ ]:
# Inputting integers
num1 = int(input('Enter the 1st integer: '))
num2 = int(input('Enter the 2nd integer: '))

# Outputting their product
prod = num1 * num2
print(f'{num1} * {num2} = {prod}')

# Checking for the condition
if prod <= 1000:
    print(f'As their product > 1000, then their sum is: {num1 + num2}')

Enter the 1st integer: 45
Enter the 2nd integer: 88
45 + 88 = 133

#### 2] Given a range of first 10 numbers, Iterate from start number to the end number and print the sum of the current number and previous number

In [ ]:
# Generating the range
for i in range(1,10):
    print(f'Current: {i}, Previous: {i-1}, Sum: {i+(i-1)}')

Current: 1, Previous: 0, Sum: 1
Current: 2, Previous: 1, Sum: 3
Current: 3, Previous: 2, Sum: 5
Current: 4, Previous: 3, Sum: 7
Current: 5, Previous: 4, Sum: 9
Current: 6, Previous: 5, Sum: 11
Current: 7, Previous: 6, Sum: 13
Current: 8, Previous: 7, Sum: 15
Current: 9, Previous: 8, Sum: 17

#### 3] Given a string, display only those characters which are present at an even index number.

In [ ]:
# Getting the string
my_str = input('Enter a string: ')

for i in range(len(my_str)):
    if i % 2 == 0:
        print(my_str[i], end=' ')

# # Another solution
# for i in range(0, len(my_str), 2):
#     print(my_str[i], end=' ')

Enter a string: DataScience
D t S i n e

#### 4] Given a string and an integer number n, remove characters from a string starting from zero up to n and return a new string

In [ ]:
# Let's define a function
def remove_chars(my_str, n):
    return my_str[n:]

# # Also you can define a function using lambda expression
# remove_chars = lambda my_str, n: my_str[n:]

# Inputting a string and a number
input_str = input('Enter a string: ')
input_num = int(input('Enter a number: '))

print('The modified string is:', remove_chars(input_str, input_num))

Enter a string: My name is mustafa
Enter a number: 4
The modified string is: ame is mustafa

#### 5] Given a list of numbers, return True if first and last number of a list is same

In [ ]:
# Getting the list
list_num = input('Enter a list of numbers seperating each number with a space: ').split()

print('For the given list:', list_num)
print('Are the first and last number the same? ')

# Checking for the condition
if int(list_num[0]) == int(list_num[-1]):
    print(True)
else:
    print(False)

Enter a list of numbers seperating each number with a space: 1 2 3 4 5 6 7 8
For the given list: ['1', '2', '3', '4', '5', '6', '7', '8']
Are the first and last number the same?
False

#### 6] Given a list of numbers, Iterate it and print only those numbers which are divisible of 5

In [ ]:
# Getting the list
list_num = input('Enter a list of numbers seperating each number with a space: ').split()

for i in range(len(list_num)):
    if int(list_num[i]) % 5 == 0:
        print(int(list_num[i]), end=' ')

Enter a list of numbers seperating each number with a space: 10 20 33 46 55
10 20 55

#### 7] Return the total count of sub-string “Mustafa” appears in the given string

In [ ]:
# Inputting a string
input_str = input('Enter a string: ').split(' ')
count = 0

for string in input_str:
    if string == 'Mustafa':
        count += 1
print('"Mustafa" is appeared %s time(s) in your string' %count)

# Another version using count() method in string
# 'My name is Mustafa Othman Mustafa, and my nickname is Mustafa El-Nahas'.count('Mustafa')

Enter a string: My name is Mustafa Othman Mustafa and my nickname is Mustafa El-Nahas
"Mustafa" is appeared 3 time(s) in your string

#### 8] Print the following patterns

(a)
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

(b)
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
# Declaring number of rows
for i in range(1,6):
    # Defining how many '*' will be printed in each row
    for j in range(1,i+1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1,6):
    print((str(i)+' ')*i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

#### 9] Reverse a given number and return true if it is the same as the original number

In [ ]:
# Inputting a number
num = input('Enter a number: ')

print('The original number is:', num)

reversed_num = num[::-1]

print('The reversed number is:', reversed_num)

if num == reversed_num:
    print('Are they the same? True')

Enter a number: 121
The original number is: 121
The reversed number is: 121
Are they the same? True

#### 10] Given a two list of numbers create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list

In [ ]:
# Getting the lists
list_num1 = input('Enter the 1st list of numbers seperating each number with a space: ').split()
list_num2 = input('Enter the 2nd list of numbers seperating each number with a space: ').split()

# The new 3rd list
list_num3 = []

# Iterating over the 1st list
for i in range(len(list_num1)):
    if int(list_num1[i]) % 2 != 0:
        list_num3.append(int(list_num1[i]))

# Iterating over the 2nd list
for i in range(len(list_num2)):
    if int(list_num2[i]) % 2 == 0:
        list_num3.append(int(list_num2[i]))

# Printing the new list
print('Our final list is:', list_num3)

Enter the 1st list of numbers seperating each number with a space: 1 2 3 4 5 6 7 8 9 10
Enter the 2nd list of numbers seperating each number with a space: 1 2 3 4 5 6 7 8 9 10
Our final list is: [1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

#### 11] Write a code to extract each digit from an integer, in the reverse order

In [ ]:
# Getting a number
n = input('Enter a number: ')

# Printing digits from this number
for i in n:
    print(i, end=' ')

Enter a number: 123
1 2 3

#### 12] Print multiplication table form 1 to 10

In [ ]:
for i in range(1,11):
    for j in range(1,11):
        print(i * j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

#### 13] Print downward Half-Pyramid Pattern with Star (asterisk)

* * * * *
* * * *
* * *
* *
*

In [ ]:
# Declaring number of rows
for i in range(5,0,-1):
    # Defining how many '*' will be printed in each row
    for j in range(i):
        print('*', end='')
    print()

*****
****
***
**
*

#### 14] Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

In [ ]:
def exponent(base, exp):
    result = 1
    while exp > 0:
        result *= base
        exp -= 1
    return result

# Inputting base and exponent
b = int(input('Enter a base value: '))
x = int(input('Also, enter an exponent value: '))

print(f'{b}^{x}  = {exponent(b,x)}')

Enter a base value: 2
Also, enter an exponent value: 4
2^4  = 16

#### 15] Calculate income tax for the given income by adhering to the below rules

| Taxable Income 	| Rate (%) 	|
|----------------	|----------	|
| First 10,000 USD 	| 0        	|
| Next 10,000 USD  	| 10       	|
| The remaining USD	| 20       	|

# THANK YOU!